<ion-header>
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background">
  <div class="conten">
    <div class="conten__img">
      <ion-img src="assets\imgs\404.png" alt=""></ion-img>
      <p class="conten__number">
        404
      </p>
    </div>
    <div class="conten__Description">
      <p color="dark" class="conten__error">
        Algo salió mal, página no encontrada.
      </p>
      <ion-button color="warning" fill="outline" routerLink="/main/home">Volver</ion-button>
    </div>
  </div>
</ion-content>
