<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #F29F05;">

<ion-buttons slot="start">
  <!-- Back Button  -->
  <ion-back-button *ngIf="backButton" [defaultHref]="backButton" class="white-button"></ion-back-button>

  <!-- Dismiss Button  -->
  <ion-button (click)="dismissModal()" *ngIf="isModal">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>


    <ion-menu-button *ngIf="showMenu" menu="menu-content" class="white-button"></ion-menu-button>



</ion-buttons>


    <ion-title style="color: white;">
      <strong>{{title}}</strong>
      <div class="role">{{ userRole.toUpperCase() }}</div>
    </ion-title>

  </ion-toolbar>
</ion-header>