h4{
    margin-top: 5px;
    font-weight: bold;
}

.menu-header-bg{
    height: 100px;
    width: 350px;
    background-color: #F5F5DC;
    background: linear-gradient(90deg, #f2e205 0%, #85d14b 100%);
    box-shadow: 0px 1x 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}
.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
}
.menu-items{
    margin: 0px;

    ion-icon {
        margin-right: 20px;
        color: #F29F05;
    }

    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
    }

}